body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main-content {
    margin: 0 auto;
    padding: 0 10px;
    word-wrap: break-word;
}

.main-content h3 {
    color: #159957;
}

.img-circle {
    border-radius: 50%;
}

@media (min-width: 960px) {
    .left-side {
        position: fixed;
        width: 25%;
        left: 5px;
        right: 5px;
        height: 98%;
        border-right: 1px solid #159957;

        display: flex;
        flex-direction: column;
        justify-content: center; /* 垂直居中 */
        align-items: center; /* 水平居中 */
    }

    .right-side {
        position: absolute;
        left: 27%;
    }
}

.about-me {
    line-height: 1.5rem;
}

.badge {
    background-color: black;
    border: 1px solid white;
    color: white;
    padding: .1em .6em;
    border-radius: 10rem;
}

.text-center {
    text-align: center;
}

.time {
    width: 9em;
    display: inline-block;
}

li {
    line-height: 25px
}

.highlight {
    color: #BB2222;
    font-weight: bold;
}

.type {
    font-style: italic;
    text-decoration: underline;
}

.sub-ol {
    list-style-type: circle;
}

.hide {
    display: none;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid gray;
    padding: 0 5px;
    text-align: center;
}

.line {
    display: block;
}

.not-start {
    color: gray;
}